<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EmployeeMapper">
    <select id="findByEmpNo" resultType="com.example.demo.dto.EmployeeDTO">
        SELECT emp_no as empNo,
               emp_name as empName,
               salary,
               comm
        FROM employee
        WHERE emp_no = #{empNo}
    </select>
</mapper>